body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Title */

#title{
    background-color: #ff4c68;
    color: #ffffff;
}

h1{
    font-size: 3.5rem;
    font-weight: 900;
}

.header-img{
    width: 60%;
    transform: rotate(25deg);
}

/* Navigation bar */

.container-fluid{
    padding: 3% 15%;
}

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;    
}

.nav-item{
    padding: auto 18px;
}

.nav-link{
    font-family: 'Montserrat';
    font-size: 1.2rem;
}

/* Download Buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Features */

.feat-description{
    padding: 100px 0;
}

.feature-icon{
    color: #ef8172;
    font-size: 3.5rem;
    padding: 0 0 10px;
    position: relative;
    left: 45%;
}

.feature-icon:hover{
    color: #ff4c68;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
}

p{
    color: #8f8f8f;
    font-size: 0.80rem;
    text-align: center;
}

